@{
    ViewBag.Title = "EnviarCodigo";
    Layout = null;
}

<h2>Estas serguro en el enviar el codigo para la asistencia?</h2>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">@ViewBag.Mensaje</div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form  method="post">
    <button type="submit" class="btn btn-primary">Enviar Código</button>
</form>
